*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);

  /* DARK code block variables */
  --bg-dark_block: hsl(210, 19%, 8%);
  --light-text: hsl(210, 40%, 96%);
  --light-blue: hsl(199, 95%, 85%);
  --blue: hsl(199, 100%, 65%);
  --green: hsl(93, 86%, 51%);
  --comment: hsl(0, 0%, 67%);
  --red: hsl(0, 97%, 75%);
  --purple: hsl(283, 100%, 85%);
  --orange: hsl(41, 98%, 57%);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: var(--dark);
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.125rem;
}

kbd,
samp,
var {
  // font-family: "Lucida Console", Monaco, monospace;
  font-family: "Lucida Console", 'Courier New', Courier, Monaco, monospace;
  font-weight: 600;
}

code {
  // font-family: "Lucida Console", Monaco, monospace;
  font-family: "Lucida Console", 'Courier New', Courier, Monaco, monospace;
  font-size: 90%;
  line-height: 1.5;
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0.3em;
  // tab-size: 4;
  // text-align: left;
  // box-shadow: black 1px 1px 0.3em -0.1em inset;
}

p > code,
h3 > code,
li > code,
a > code {
  background-color: var(--bg-dark_block);
  color: var(--white);
}

var {
  font-size: 87.5%;
  font-style: oblique;
  // font-style: italic;
}

pre {
  // font-family: 'Courier New', Courier, monospace;
  // font-family: "Lucida Console", Monaco, monospace;
  font-family: "Lucida Console", 'Courier New', Courier, Monaco, monospace;
  font-weight: 400;
}

kbd {
  display: inline-block;
  font-size: 87.5%;
  line-height: 1;

  background-color: #e1ebf5; // #d9edfe;
  color: #555;

  padding: 0.0625em 0.1875em;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
}

.small {
  font-size: 1rem;
  font-weight: lighter;
  color: #555;
}

.notes {
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* DARK and LIGHT code blocks */
.code-block {
  /* Why do I need a padding-top? The line-height? */
  padding-top: 1.5em;
  line-height: 1.5;
  overflow: auto;
  // overflow: scroll;
  // overflow-x: auto;
  // white-space: pre-wrap;
}

/* DARK code block */
.dark_block {
  background-color: var(--bg-dark_block);
  color: var(--white);
}

/* DARK code block language colors */
.light-blue {
  color: var(--light-blue);
}

.blue,
.boolean {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.comment {
  color: var(--comment);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.orange {
  color: var(--orange);
}

/* The output you need to copy to paste into your <pre> block */
p.dark-code,
p.html-entities {
  background-color: var(--bg-dark_block);
  color: var(--white);
  font-size: 1rem;
  line-height: 1.6;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  width: 90%;
  // max-width: 800px;
}

.file-reader {
  margin-bottom: 3em;
}

textarea {
  width: 50%;
  height: 15rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: bold;
  margin-top: 1rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.nav-item+.nav-item {
  margin-left: 2em;
}

.nav-link {
  text-decoration: none;
}

.nav-link code {
  padding: 0.5rem 1rem;
}

.nav-link code:hover {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/* OPTIONAL: code for line numbers in pre code blocks

pre {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
  overflow: auto;
  counter-reset: line;
  border-radius: 0.5em;
}

pre span::before {
  width: 2.5em;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  border-right: 1px solid rgba(136, 136, 136, 0.5);
  padding: 0 0.5em;
  margin-right: 1em;
  color: #fff;
  // uncomment below if you are using a light code block 
  // color: #000;
}

*/