@use 'variables';
@use 'base';
@use 'header';
@use 'utilities';
@use 'buttons';

$bgBody: #f9f9f9;
$headerBgClr: rgb(11, 11, 93);
$showcaseBgClr: rgb(14, 14, 117);
$headerClr: #ccc;
$orange: rgb(214, 183, 4);
$darkOrange: rgb(255, 145, 0);
$fontColor: #333;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lg-img {
  display: block;
  width: 30rem;
  height: auto;
  margin-bottom: 2rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::selection {
  color: #fff;
  background-color: $showcaseBgClr;
}

header {
  background-color: $headerBgClr;
  color: $headerClr;


  .header-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  a {
    color: $headerClr;
    font-size: 1.125rem;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.25em;
      color: $orange;
    }
  }
}