*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);

  /* DARK code block variables */
  --bg-dark_block: hsl(210, 19%, 8%);
  --light-text: hsl(210, 40%, 96%);
  --light-blue: hsl(199, 95%, 85%);
  --blue: hsl(199, 100%, 74%);
  --green: hsl(93, 86%, 51%);
  --comment: hsl(0, 0%, 67%);
  --red: hsl(0, 97%, 75%);
  --purple: hsl(283, 100%, 85%);
  --orange: hsl(41, 98%, 57%);

  /* LIGHT code block variables (added '2' prefix because I'm not interested in using a light code block but these colors look good) */
  --bg-light_block: hsl(0, 0%, 87%);
  --light-blue2: hsl(229, 100%, 72%);
  --blue2: hsl(198, 100%, 33%);
  // --blue2: hsl(234, 64%, 57%);
  --green2: hsl(137, 100%, 30%);
  --comment2: hsl(0, 0%, 60%);
  --gray: #6e6e6e;
  --maroon: hsl(327, 100%, 30%);
  --purple2: hsl(283, 100%, 66%);
  --orange2: hsl(26, 100%, 51%);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: var(--dark);
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.125rem;
}

code,
kbd,
samp,
var {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 600;
}

var {
  font-size: 87.5%;
  font-style: oblique;
  // font-style: italic;
}

pre {
  font-family: 'Courier New', Courier, monospace;
}

kbd {
  display: inline-block;
  font-size: 87.5%;
  line-height: 1;

  // background-color: #d9edfe;
  background-color: #e1ebf5;
  color: #555;

  padding: 0.0625em 0.1875em;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
}

.small {
  font-size: 1rem;
  font-weight: lighter;
  color: #555;
}

.notes {
  margin-bottom: 3em;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* DARK and LIGHT code blocks */
.code-block {
  /* Why do I need a padding-top? The line-height? */
  padding-top: 1.5em;
  line-height: 1.5;
  overflow: auto;
  // overflow: scroll;
  // overflow-x: auto;
  // white-space: pre-wrap;
}

/* DARK code block */
.dark_block {
  background-color: var(--bg-dark_block);
  color: var(--white);
}

/* LIGHT code block and section */
.light_block {
  background-color: var(--bg-light_block);
  font-weight: 700;
}
.dark-bg {
  background-color: var(--bg-dark_block);
  padding: 2em 0;
}
.light-text {
  color: var(--light-text);
}

/* DARK code block language colors */
.light-blue {
  color: var(--light-blue);
}
.blue, .boolean {
  color: var(--blue);
}
.green {
  color: var(--green);
}
.comment {
  color: var(--comment);
}
.white {
  color: var(--white);
}
.red {
  color: var(--red);
}
.purple {
  color: var(--purple);
}
.orange {
  color: var(--orange);
}

/* LIGHT code block language colors */
.light-blue2 {
  color: var(--light-blue2);
}
.blue2, .boolean2 {
  color: var(--blue2);
}
.green2 {
  color: var(--green2);
}
.comment2 {
  color: var(--comment2);
}
.gray {
  color: var(--gray);
}
.maroon {
  color: var(--maroon);
}
.purple2 {
  color: var(--purple2);
}
.orange2 {
  color: var(--orange2);
}

/* The output you need to copy to paste into your <pre> block */
p.dark-code, p.light-code, p.html-entities {
  background-color: var(--bg-light_block);
  font-size: 1rem;
  line-height: 1.6;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  width: 90%;
  border: 1px solid #999;
  // max-width: 800px;
}

/* color boxes */
.color-container {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}
.color-box {
  width: 110px;
  height: 110px;
  text-align: center;
}
// Dark code block examples

// Why isn't .bg-light-blue working? for some reason the first rule does not apply? I had to create the phony .bg-blue22 to fix that, or use the empty div above div.bg-light-blue - THAT MAKES NO SENSE

// .bg-blue22 {
//   border: 1px solid red;
// }

.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-green {
  background-color: var(--green);
}
.bg-comment {
  background-color: var(--comment);
}
.bg-red {
  background-color: var(--red);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-background-color {
  background-color: var(--bg-dark_block);
  color: var(--white);
}

/* Light code block */
.bg-blue22 {
  border: 1px solid red;
}
.bg-light-blue2 {
  background-color: var(--light-blue2);
  color: var(--white);
}
.bg-blue2 {
  background-color: var(--blue2);
  color: var(--white);
}
.bg-green2 {
  background-color: var(--green2);
  color: var(--white);
}
.bg-comment2 {
  background-color: var(--comment2);
  color: var(--white);
}
.bg-gray {
  background-color: var(--gray);
  color: var(--white);
}
.bg-maroon {
  background-color: var(--maroon);
  color: var(--white);
}
.bg-purple2 {
  background-color: var(--purple2);
  color: var(--white);
}
.bg-orange2 {
  background-color: var(--orange2);
  color: var(--white);
}
.bg-background-color2 {
  background-color: var(--bg-light_block);
  color: var(--dark);
}

.file-reader {
  margin-bottom: 3em;
}

textarea {
  width: 50%;
  height: 15rem;
}

/* OPTIONAL: code for line numbers in pre code blocks

pre {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
  overflow: auto;
  counter-reset: line;
  border-radius: 0.5em;
}

pre span::before {
  width: 2.5em;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  border-right: 1px solid rgba(136, 136, 136, 0.5);
  padding: 0 0.5em;
  margin-right: 1em;
  color: #fff;
  // uncomment below if you are using a light code block 
  // color: #000;
}

*/