*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #333;
}

p {
  font-size: 1.25rem;
}

code,
kbd,
tt,
var,
pre {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.dark-bg {
  background-color: #111519;
  padding: 2em 0;
}

.light-text {
  color: #f1f5f9;
}

/* Background colors for dark and light code blocks */
.dark_block {
  background-color: #111519;
  padding-top: 0.5em;
  line-height: 1.6;
  font-size: 1.125rem;
}
.light_block {
  background-color: #ddd;
  padding-top: 0.5em;
  font-weight: 700;
  line-height: 1.6;
}

/* colors for DARK code block highlighting */
.light-blue {
  color: rgb(165, 224, 251);
}
.dark-blue {
  color: rgb(62, 194, 255);
}
.lime-green {
  color: rgb(119, 237, 22);
}
.comment {
  color: #bbb;
}
.white {
  color: #fff;
}
.red {
  color: rgb(254, 85, 85);
}
.purple {
  color: rgb(233, 177, 255);
}
.orange {
  color: rgb(255, 176, 5);
}

/* colors for LIGHT code block highlighting */
.light-blue2 {
  color: rgb(83, 113, 247);
}
.dark-blue2 {
  color: rgb(40, 55, 188);
}
.lime-green2 {
  color: rgb(0, 177, 50);
}
.comment2 {
  color: #999;
}
.gray {
  color: #777;
}
.red2 {
  color: rgb(255, 110, 110);
}
.purple2 {
  color: rgb(207, 84, 255);
}
.orange2 {
  color: rgb(255, 113, 5);
}

/* Actual output you need to copy */
p.dark-code, p.light-code {
  background-color: #ddd;
  color: #333;
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
  font-weight: 600;
  line-height: 1.6;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  // max-width: 800px;
  border-radius: 0.5em;
}

/* inline code element */
code {
  display: inline-block;
  font-weight: 900;
  font-size: 90%;
  background-color: #ccc;
  padding: 0.0625em 0.25em;
}

/* code for line numbers
pre {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4;
  overflow: auto;
  counter-reset: line;
  border-radius: 0.5em;
}

pre span::before {
  width: 2.5em;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  border-right: 1px solid rgba(136, 136, 136, 0.5);
  padding: 0 0.5em;
  margin-right: 1em;
  color: #fff;
  // uncomment below if you are using a light code block 
  // color: #000;
}
*/