*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.25rem;
}

code,
kbd,
tt,
var,
pre {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* dark and light code blocks */
.code-block {
  padding-top: 0.5em;
  line-height: 1.6;
  // font-size: 1.065rem;
  overflow: scroll;
}

/* DARK code block */
.dark_block {
  background-color: #111519;
  color: #fff;
}

/* LIGHT code block */
.light_block {
  background-color: #ddd;
  font-weight: 700;
  // color: #333;
}
.dark-bg {
  background-color: #111519;
  padding: 2em 0;
}
.light-text {
  color: #f1f5f9;
}

/* DARK code block language colors */
.light-blue {
  color: rgb(179, 229, 253);
}
.blue, .boolean {
  color: rgb(100, 206, 255);
}
.lime-green {
  color: rgb(119, 237, 22);
}
.comment {
  color: #bbb;
}
.white {
  color: #fff;
}
.red {
  color: rgb(250, 120, 120);
}
.purple {
  color: rgb(233, 177, 255);
}
.orange {
  color: rgb(255, 176, 5);
}
.black {
  color: #333;
}

/* LIGHT code block language colors */
.light-blue2 {
  color: rgb(83, 113, 247);
}
.blue2, .boolean2 {
  color: rgb(40, 55, 188);
}
.green {
  color: rgb(0, 177, 50);
}
.comment2 {
  color: #999;
}
.gray {
  color: #777;
}
.red2 {
  color: rgb(255, 110, 110);
}
.purple2 {
  color: rgb(207, 84, 255);
}
.orange2 {
  color: rgb(255, 113, 5);
}

/* The output you need to copy */
p.dark-code, p.light-code {
  background-color: #ddd;
  font-size: 90%;
  font-weight: 700;
  line-height: 1.6;
  overflow: auto;
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  // max-width: 800px;
}

/* inline code element */
code {
  display: inline-block;
  font-weight: 900;
  font-size: 90%;
  background-color: #ccc;
  padding: 0.0625em 0.25em;
}

/* color boxes */
.color-container {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
}
.color-box {
  width: 110px;
  height: 110px;
  text-align: center;
  align-self: center;
}
// Dark code block
// WTF? Why isn't this one working? for some reason the first declaration does not apply?????
.bg-blue22 {
  border: 1px solid red;
}
.bg-light-blue {
  background-color: rgb(165, 224, 251);
}
.bg-blue {
  background-color: rgb(100, 206, 255);
}
.bg-lime-green {
  background-color: rgb(119, 237, 22);
}
.bg-comment {
  background-color: #bbb;
}
.bg-red {
  background-color: rgb(254, 85, 85);
}
.bg-purple {
  background-color: rgb(233, 177, 255);
}
.bg-orange {
  background-color: rgb(255, 176, 5);
}
.bg-background-color {
  background-color: #111519;
  color: white;
}
// Light code block
.bg-blue22 {
  border: 1px solid red;
}
.bg-light-blue2 {
  background-color: rgb(83, 113, 247);
  color: white;
}
.bg-blue2 {
  background-color: rgb(40, 55, 188);
  color: white;
}
.bg-green {
  background-color: rgb(0, 177, 50);
  color: white;
}
.bg-comment2 {
  background-color: #999;
  color: white;
}
.bg-gray {
  background-color: #777;
  color: white;
}
.bg-red2 {
  background-color: rgb(255, 110, 110);
  color: white;
}
.bg-purple2 {
  background-color: rgb(207, 84, 255);
  color: white;
}
.bg-orange2 {
  background-color: rgb(255, 113, 5);
  color: white;
}
.bg-background-color2 {
  background-color: #ddd;
}

/* code for line numbers in pre code blocks

pre {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4;
  overflow: auto;
  counter-reset: line;
  border-radius: 0.5em;
}

pre span::before {
  width: 2.5em;
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  border-right: 1px solid rgba(136, 136, 136, 0.5);
  padding: 0 0.5em;
  margin-right: 1em;
  color: #fff;
  // uncomment below if you are using a light code block 
  // color: #000;
}
*/